.button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    min-width: 150px;
    padding: calc(var(--grid-unit) / 2);
    background-color: var(--color-accent);
}

.button:hover {
    background-color: var(--color-surface);
}