.recipeCardWrapper {
  max-width: 40%;
  padding: calc(var(--grid-unit) * 2);
  background-color: aliceblue;
  border-radius: 20px;
  height: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Optional: layer content above sheen */
.recipeCardWrapper > * {
  position: relative;
  z-index: 1;
}

.recipeCardWrapper::after {
  content: "";
  position: absolute;
  top: -550px;
  left: -75px;
  width: 150px;
  height: 300%;
  background: linear-gradient(
    to right,
    rgba(198, 198, 198, 0.081) 0%,
    rgba(243, 243, 243, 0.8) 50%,
    rgba(210, 210, 210, 0.242) 100%
  );
  opacity: 0.8;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 0;
  pointer-events: none;
}


.recipeCardWrapper:hover::after {
  left: 150%;
}


.recipeCardWrapper:hover {
  cursor: pointer;
}

.recipeCardContents {
  display: flex;
  gap: calc(var(--grid-unit) * 2);
}

.recipeCardLeft {
  align-items: flex-end;
}

.recipeTextContent {
  display: flex;
  flex-direction: column;
}

.headingText {
  color: var(--color-accent);
}

.image {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  transition: opacity 0.4s ease-in-out;
}

.recipeCardWrapper:hover .image {
  opacity: 0.85;
}

.lineIconContainer {
  gap: var(--grid-unit);
  margin-top: auto;
  transition: gap 0.3s ease;
  color: var(--color-text-secondary);
}

.icon {
  transition: transform 0.3s ease;
}

.recipeCardWrapper:hover .icon {
  transform: translateX(8px);
}
