.chip {
  border-radius: var(--grid-unit);

  width: fit-content;
  padding: 0 var(--grid-unit);
}

.colourSet0 {
  border: solid 1px lightsalmon;
  background-color: rgba(255, 160, 122, 0.4);
}

.colourSet1 {
  border: solid 1px rgb(45, 199, 191);
  background-color: rgba(45, 199, 191, 0.4);
}

.colourSet2 {
  border: solid 1px lightskyblue;
  background-color: rgba(135, 206, 250, 0.4);
}
