---
import BasicCardStack from "@components/animations/CardStack/BasicCardStack.astro";


---

<div style={{position: "relative", height: "1300px"}}>
    <div style={{width: "400px", position: "sticky", top:"100px"}}><h3>Frozen Pane</h3><p style={{color:"white"}}>This pane remains in place while the component beside it scrolls.</p></div>
    <BasicCardStack />
</div>

a