header {
  position: sticky;
  top: 0;
  background-color: #262626;
  z-index: 20;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--grid-unit) * 2);
  height: auto;
  width: auto;
}

.siteName {
  text-decoration: none;
  text-transform: uppercase;
}

.siteName:hover,
.siteName:active,
.siteName:focus {
  color: var(--color-accent);
  text-decoration: none;
}

@media (max-width: 496px) {
  .siteNameContainer {
    padding-left: 40px;
    text-align: center;
  }
}
