---
import Hamburger from "./Hamburger/Hamburger.astro";
import Navigation from "./Navigation/Navigation.astro";
import "@styles/global.css"
import styles from "./Header.module.css"
const { title = "My Site" } = Astro.props;
---

<header>
    <nav class={styles.navContainer}>
        <div><a class=`heading-xl ${styles.siteName}` href="/">{title}</a></div>
        <Navigation/>
        <Hamburger />
    </nav>
</header>