---
import Button from "./Button/Button.astro"
import ColourBlock from "./ColourBlock/ColourBlock.astro"
import Text from "./Text/Text.astro"
---

<section>
	<ColourBlock />
	<Text>Welcome to the site</Text>
	<Button buttonText="Click Me!" />
</section>