.colourBlock {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.green {
    background-color: var(--color-accent);
}

.darkGray {
    background-color: var(--color-text-secondary);
}

.lightGray {
    background-color: var(--color-surface);
}