---
import "@styles/global.css"
import styles from "./Navigation.module.css"
---

<ul id="navList" class="flex">
  <li class={styles.navItem}><a href="/">Home</a></li>
  <li class={styles.navItem}><a href="/about">About</a></li>
  <li class={styles.navItem}><a href="/recipes">Recipes</a></li>
  <li class={styles.navItem}><a href="/blog">Blog</a></li>
</ul>
