---
import styles from "./Hamburger.module.css";
---

<button
  id="hamburger"
  class={styles.hamburger}
  aria-expanded="false"
  aria-controls="menu"
>
  <span class={styles.line}></span>
  <span class={styles.line}></span>
  <span class={styles.line}></span>
</button>
