---
import "@styles/global.css"
import type { HTMLAttributes } from "astro/types";

export interface CentredFlexProps extends HTMLAttributes<'section'> {
  
};

const props = Astro.props as CentredFlexProps

---

<section class:list={["flex-col", "flex-center", props.class]} style={props.style}>
  <slot />
</section>
