.whiteText {
  color: aliceblue;
}

.overlay {
  display: grid;
  justify-items: center;
  gap: calc(var(--grid-unit) * 2);
  z-index: 2;
  height: 100%;
}

.image {
  filter: brightness(50%);
  height: 90vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
}

.container > * {
  grid-area: container;
}

.overlayCell {
    gap:calc(var(--grid-unit) * 2);
    align-self: flex-end;
    justify-items: center;
    margin-bottom: 30px
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.bounce {
  animation: bounce 1.5s ease-in-out infinite;
}