---
import Header from "@components/Header/Header.astro";
import "../styles/global.css";
import siteConfig from "@content/siteConfig";
const { title = "My Site" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Quicksand:wght@400;600&family=Karla:wght@400;700&family=Fira+Code:wght@400;600&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header title={siteConfig.title} />
    <main>
      <slot />
    </main>
    <script is:inline>
      const hamburger = document.getElementById("hamburger");
      const navList = document.getElementById("navList");

      if (hamburger && navList) {
        hamburger.addEventListener("click", () => {
          navList.classList.toggle("expanded");
        });
      } else {
        console.warn("Missing hamburger or navList element");
      }
    </script>
  </body>
</html>
