---
import Header from "@components/Header/Header.astro";
import "@styles/global.css";
import "@styles/nav.css";
import siteConfig from "@content/siteConfig";
const { title = "My Site" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Quicksand:wght@400;600&family=Karla:wght@400;700&family=Fira+Code:wght@400;600&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header title={siteConfig.title} />
    <main>
      <slot />
    </main>
    <script is:inline>
      const icon = document.getElementById("hamburger");
      const icon1 = document.getElementById("lineA");
      const icon2 = document.getElementById("lineB");
      const icon3 = document.getElementById("lineC");
      const nav = document.getElementById("nav");
      const navList = document.getElementById("navList");
      const navShadow = document.getElementById("navShadow");

      if (icon && nav) {
        icon.addEventListener("click", () => {
          icon1.classList.toggle("a");
          icon2.classList.toggle("c");
          icon3.classList.toggle("b");
          nav.classList.toggle("show");
          navList.classList.toggle("expanded");
          navShadow.classList.toggle("slide");
        });
      } else {
        console.warn("Missing hamburger or navList element");
      }
    </script>
  </body>
</html>
